
a.iarchive-link {
  /* opacity: 1.0; */
  background-color: #5454c0 !important;
  text-decoration: none !important;
}

a.iarchive-link:hover {
  background-color: #5454c0 !important;
  text-decoration: underline !important;
  border: 2px solid red;
}
