
a.iarchive-link {
  /* opacity: 1.0; */
  background-color: #5454c0;
  text-decoration: none !important;
}

a.iarchive-link:visited {
	color: transparent;
  background-color: #5454c0;
}

a.iarchive-link:hover {
  text-decoration: underline !important;
}
